backend/src/main/java/mypackage/calculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/calculator"
        xmlns:tns="http://example.com/calculator"
        elementFormDefault="qualified">

    <!-- Addition -->
    <xs:element name="AddRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
                <xs:element name="b" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Subtraction -->
    <xs:element name="SubtractRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
                <xs:element name="b" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SubtractResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Multiplication -->
    <xs:element name="MultiplyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
                <xs:element name="b" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MultiplyResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Division -->
    <xs:element name="DivideRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
                <xs:element name="b" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DivideResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Square Root -->
    <xs:element name="SqrtRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SqrtResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
